.app {
  width: 60%;
  padding: 0 0.5rem;
  margin: 0 auto;
  overflow: hidden;
}

.note {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-bottom: 2rem;
  padding: 0.9rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 16px;
}

.note-author-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  margin-right: 10px;
  border: 2px solid rgba(200, 200, 200, 0.4);
  border-radius: 50%;
  cursor: pointer;
}

.note-author-avatar img {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.note-author {
  display: flex;
  align-items: center;
}

.note-author-name a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #6c757d;
  cursor: pointer;
  transition: all 0.4s;
  margin-right: 0.3rem;
}
.note-author-name a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .app {
    width: 98%;
  }
}
